<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
*{
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image : url('https://media.istockphoto.com/id/1423385439/photo/female-doctor-checking-anatomy-and-physiology-x-ray-film-of-patient-in-the-hospital.jpg?s=612x612&w=0&k=20&c=Wv-xOxPr4nfBh1EyLWXRHR7UmQIOKUH106YByWzz_p4=');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #DCDCDC;
}

h1{
  text-align: center;
  font-size: 50px;
  color: blue;
}

</style>

</head>
<body>
<br><br>
<h1>ONCOLOGISTS IN VISAKHAPATNAM</h1>
<p></p>
<br><br><br>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://imagesx.practo.com/providers/dr-kanhu-charan-patro-radiation-oncologist-visakhapatnam-91b92a87-6f88-4601-b90c-b0333569f8ed.jpg?i_type=t_100x100" alt="" style="width:100% ">
      <h3>Dr. Kanhu Charan Patro</h3>
      <h4>Qualification</h4>
      <p>MBBS, MD - Radiotherapy, DNB - Radiotherapy</p>
        <h4>Speciality</h4>
        <p>Radiation Oncologist.</p>
      <h4>Location</h4>
      <p>MVP Colony, Visakhapatnam.</p>
      <h4>About the Doctor</h4>
      <p>Timing & Days: 10am - 1pm & 4pm - 5:30pm (Monday to Saturday)</p>
      <p>22 Years Experience Overall  (16 years as specialist)</p>
      <p>He is a member of Indian Medical Association (IMA).</p>
      <p></p>
        <br><br><br>
    </div>
  </div>

    <div class="column">
    <div class="card">
      <img src="https://imagesx.practo.com/providers/dr-p-venkata-krishna-reddy-radiologist-visakhapatnam-b47c6917-210e-4643-bbf6-ce9ef4a1bd20.jpg?i_type=t_100x100" alt="" style="width:100%">
      <h3>Dr. P Venkata Krishna Reddy</h3>
      <h4>Qualification</h4>
      <p>MBBS, MD - Radiotherapy</p>
      <h4>Speciality</h4>
      <p>Radiation Oncologist</p>
      <h4>Location</h4>
      <p>MVP Colony, Visakhapatnam.</p>
      <h4>About the Doctor</h4>
      <p>Timing : 10am - 1pm & 4pm - 5:30pm (Monday - Saturday)</p>
      <p>9 Years Experience Overall  (8 years as specialist)</p>
      <p>He is a member of Indian Medical Association (IMA),European Society of Medical Oncology (ESMO),European Society for Radiotherapy & Oncology (ESTRO) and Association of Radiation Oncologists of India (AROI).</p>
        <br>
    </div>
  </div>


    <div class="column">
    <div class="card">
      <img src="https://imagesx.practo.com/providers/dr-praveena-vonna-medical-oncologist-visakhapatnam-ec944609-8882-4f3c-8a06-8100a9c32a72.jpg?i_type=t_100x100" alt="" style="width:100%">
      <h3>Dr. Praveena Vonna</h3>
      <h4>Qualification</h4>
      <p>MBBS, MD - Radiotherapy, DM - Medical Oncology</p>
      <h4>Speciality</h4>
      <p>Medical Oncologist</p>
      <h4>Location</h4>
      <p>MVP Colony, Visakhapatnam.</p>
      <h4>About the Doctor</h4>
      <p>Timing : 10am - 1pm & 4pm - 5:30pm (Monday - Saturday)</p>
      <p>15 Years Experience Overall  (4 years as specialist)</p>
      <p>She is a member of European Society of Medical Oncology (ESMO),Association of Radiation Oncologists of India (AROI) and American Society of Clinical Oncology (ASCO).</p>
    </div>
  </div>


  <div class="column">
    <div class="card">
      <img src="https://imagesx.practo.com/providers/dr-voonna-murali-krishna-surgical-oncologist-visakhapatnam-c93b5446-801a-4711-ae22-f454c2139122.jpg?i_type=t_100x100" alt="" style="width: 100%;">
      <h3>Dr. Voonna Murali Krishna</h3>
      <h4>Qualification</h4>
      <p>MBBS, MS - General Surgery, MCh - Surgical Oncology</p>
      <h4>Speciality</h4>
      <p>Surgical Oncologist</p>
      <h4>Location</h4>
      <p>MVP Colony, Visakhapatnam.</p>
      <h4>About the Doctor</h4>
      <p>Timing : 10am - 1pm & 4pm - 5:30pm (Monday - Saturday)</p>
      <p>30 Years Experience Overall  (22 years as specialist)</p>
      <p>He is a member of ASI,SOAI and IMA.</p>
      <br><br><br>
    </div>
  </div>
</div>

<br><br><br>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://imagesx.practo.com/providers/dr-y-rajini-priya-medical-oncologist-visakhapatnam-8d9e6aa8-79d0-409c-82ff-7f438ce1128f.jpg?i_type=t_100x100" alt="" style="width:100% ">
      <h3>Dr. Y. Rajini Priya</h3>
      <h4>Qualification</h4>
      <p>MBBS, MD - Pediatrics, DM - Medical Oncology</p>
        <h4>Speciality</h4>
        <p>Medical Oncologist.</p>
      <h4>Location</h4>
      <p>MVP Colony, Visakhapatnam.</p>
      <h4>About the Doctor</h4>
       <p>Timing : 10am - 1pm & 4pm - 5:30pm (Monday - Saturday)</p>
      <p>12 Years Experience Overall  (3 years as specialist)</p>
      <p>Some of the services provided by the doctor are: Chemotherapy of Solid Tumors,Melanoma Treatment,Giant Cell tumour Treatment,Chemotherapy of Haematological Malignancies and Breast Cancer Management etc. </p>
      <br><br>
    </div>
  </div>


  <div class="column">
    <div class="card">
      <img src="https://imagesx.practo.com/providers/dr-partha-sarathi-bhattacharyya-radiation-oncologist-visakhapatnam-eec2b82b-6ad3-48f9-8420-d8571fcbe23a.jpg?i_type=t_100x100" alt="" style="width:100% ">
      <h3>Dr. Partha Sarathi Bhattacharyya</h3>
      <h4>Qualification</h4>
      <p>MD - Radiotherapy</p>
        <h4>Speciality</h4>
        <p>Radiation Oncologist.</p>
      <h4>Location</h4>
      <p>MVP Colony, Visakhapatnam.</p>
      <h4>About the Doctor</h4>
       <p>Timing : 10am - 1pm & 4pm - 5:30pm (Monday - Saturday)</p>
       <p>18 Years Experience Overall  (17 years as specialist)</p>
       <p>Dr. Partha Sarathi Bhattacharyya is a Radiation Oncologist in MVP Colony, Visakhapatnam and has an experience of 15 years in the field. Dr. Partha Sarathi Bhattacharyya practices at Mahatma Gandhi Cancer Hospital & Research Institute in MVP Colony, Visakhapatnam.</p>

            <br><br>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://imagesx.practo.com/providers/dr-b-chandra-sekhar-hematologist-visakhapatnam-509e8f0b-6066-474d-8107-095b4dd457cf.jpg?i_type=t_100x100" alt="" style="width:100% ">
      <h3>Dr. B. Chandra Sekhar</h3>
      <h4>Qualification</h4>
      <p>MBBS, DNB - Hematology</p>
        <h4>Speciality</h4>
        <p>Hematologist, Hematologic Oncologist.</p>
      <h4>Location</h4>
      <p>MVP Colony, Visakhapatnam.</p>
      <h4>About the Doctor</h4>
       <p>Timing : 10am - 1pm & 4pm - 5:30pm (Monday - Saturday)</p>
       <p>10 Years Experience Overall  (7 years as specialist)</p>
       <p>He is a member of Indian Medical Association (IMA),ISBMT and ISHBT.</p>
      <br><br><br><br><br><br>
    </div>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>
</body>
</html>
