<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
*{
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image : url('https://media.istockphoto.com/id/824201384/photo/medicine-diabetes-glycemia-health-care-and-people-concept-close-up-of-male-finger-with-test.jpg?s=612x612&w=0&k=20&c=W2DDe0yQrtb8ptXujcIcZS6bpbgKwgA6AokUjTNDjt0=');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #DCDCDC;
}

h1{
  text-align: center;
  font-size: 50px;
  color: black;
}

</style>

</head>
<body>
<br><br>
<h1>DIABETOLOGISTS IN BANGALORE</h1>
<p></p>
<br><br><br>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://imagesx.practo.com/providers/dr-raja-selvarajan-diabetologist-bangalore-699edb0b-47f6-465d-a849-91d46954bb32.jpg?i_type=t_100x100" alt="" style="width:100% ">
      <h3>Dr. Raja Selvarajan</h3>
      <h4>Qualification</h4>
      <p>MBBS, MD - Internal Medicine, FRCP</p>
        <h4>Speciality</h4>
        <p>General Physician, Internal Medicine,Special Interest in Diabetology</p>
      <h4>Location</h4>
      <p>Domlur, Bangalore</p>
      <h4>About the Doctor</h4>
      <p>Timing & Days: 9am - 8pm (Monday to Saturday)</p>
      <p>17 Years Experience Overall(11 years as specialist)</p>
      <p>He has the special interest in the Epidemiology of Diabetes, Epidemiology, Gestational Diabetes and Diabetes in young. </p>
      <p>He is a life member of Indian Medical Association and Research Society for Study of Diabetes in India.</p>
      <p>Received National award at RSSDI 2013, the most prestigious diabetes conference in India.</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://imagesx.practo.com/providers/dr-zakira-jahan-general-physician-bangalore-567e09a5-fbce-4116-937c-78a7031a9d41.jpg?i_type=t_100x100" alt="" style="width: 100%;">
      <h3>Dr. Zakira Jahan</h3>
      <h4>Qualification</h4>
      <p>MBBS</p>
      <h4>Speciality</h4>
      <p>General Physician,Special Interest in Diabetology</p>
      <h4>Location</h4>
      <p>BTM Layout 1st Stage, Bangalore</p>
      <h4>About the Doctor</h4>
      <p>Consultation Timing & Days: 9am to 5pm, (Monday to Sunday)</p>
        <p>15 Years Experience Overall</p>
     <p>She is the Joint Secretary of Indian Association of Clinical Cardiologists and been the Organising Secretary of national conferences including IACCCON, 2013.</p>
     <p>Dr. Zakira Jahan did her MBBS from Dr. B. R. Ambedkar Medical College, Bangalore and Masters in Diabetology from Annamalai University, Tamilnadu.</p>
     <br><br><br><br>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://imagesx.practo.com/providers/dr-arpandev-bhattacharyya-endocrinologist-bangalore-b081de5a-9220-4023-a0e4-e84d426b8844.jpg?i_type=t_100x100" alt="" style="width:100%">
      <h3>Dr. Arpandev Bhattacharyya</h3>
      <h4>Qualification</h4>
      <p>MBBS,MD-General Medicine</p>
      <h4>Speciality</h4>
      <p>Endocrinologist, Diabetologist</p>
      <h4>Location</h4>
      <p>Old Airport Road, Bangalore.</p>
      <h4>About the Doctor</h4>
      <p>Timing : 9am - 9pm (Wednesday,Friday)</p>
      <p>32 Years Experience Overall  (29 years as specialist)</p>
      <p>Dr. Arpan has pioneered the Fellowship programme in Diabetes and Endocrinology with Manipal Academy of Higher Education to train post-MD physician.</p>
       <br><br><br><br><br><br><br><br><br><br>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://imagesx.practo.com/providers/dr-satish-kumar-s-endocrinologist-bangalore-779b60d3-4517-4717-99cf-013aaf7f4887.jpg?i_type=t_100x100" alt="" style="width:100%">
      <h3>Dr. Satish Kumar S</h3>
      <h4>Qualification</h4>
      <p>MBBS, MRCP (UK), CCT - Endocrinology and Diabetes Mellitus</p>
      <h4>Speciality</h4>
      <p>Endocrinologist, Diabetologist</p>
      <h4>Location</h4>
      <p>JP Nagar, Bangalore.</p>
      <h4>About the Doctor</h4>
      <p>Timing : 10am to 12:15pm & 2:30pm to 3:30pm (Monday - Saturday)</p>
      <p>29 Years Experience Overall  (19 years as specialist)</p>
      <p>Dr. Satish Kumar S is a Senior Consultant Endocrinologist, Diabetologist and Bariatric Physician who has around 25 years of experience.</p>
        <br><br><br><br><br><br><br><br>
    </div>
  </div>
</div>

<br><br><br>

<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://imagesx.practo.com/providers/dr-anusha-n-d-general-physician-bangalore-bc951fbe-411a-48d8-a81b-f81e42f16763.jpg?i_type=t_100x100" alt="" style="width:100% ">
      <h3>Dr. Anusha N D</h3>
      <h4>Qualification</h4>
      <p>MBBS, MD - General Medicine, DM - Endocrinology</p>
        <h4>Speciality</h4>
        <p>General Physician, Internal Medicine, Endocrinologist, Diabetologist</p>
      <h4>Location</h4>
      <p>Koramangala 1 Block, Bangalore</p>
      <h4>About the Doctor</h4>
      <p>Timing & Days: 5pm - 6:30pm (Monday to Saturday)</p>
      <p>12 Years Experience Overall(6 years as specialist)</p>
      <p>Dr. Anusha, MD (Medicine), DM (Endocrinology) is a practicing Endocrinologist and Diabetologist. </p>
      <p>Dr. Anusha has to her credit original research in the field of Liver function in type 1 diabetes.</p>
       <br><br><br><br><br><br>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://imagesx.practo.com/providers/dr-basavaraj-gs-endocrinologist-bangalore-72d83073-a38e-4e6b-ae52-04f6441ba9d3.jpg?i_type=t_100x100" alt="" style="width: 100%;">
      <h3>Dr. Basavaraj GS</h3>
      <h4>Qualification</h4>
      <p>MBBS, MD - General Medicine, DM - Endocrinology</p>
      <h4>Speciality</h4>
      <p>Endocrinologist, Diabetologist, General Physician</p>
      <h4>Location</h4>
      <p>HSR Layout, Bangalore</p>
      <h4>About the Doctor</h4>
      <p>Consultation Timing & Days: </p>
      <p>5:30pm to 8:30pm (Mon,Wed - Sat)</p>
      <p>7:00pm to 8:00pm (Tue)</p>
      <p>5:00pm to 8:00pm (Sun)</p>
      <p>15 Years Experience Overall  (4 years as specialist)</p>
      <p>Dr Basavaraj GS is an Endocrinologist and Diabetologist practicing in Koramangala, Bangalore, with over 13 years of experience. </p>
      <p>He has actively participated in national and international workshops, training programs, and conferences worldwide.</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://imagesx.practo.com/providers/dr-narendra-bs-diabetologist-bangalore-e69fe1a4-5cab-4194-9f27-2d8bfe24fc4a.jpg?i_type=t_100x100" alt="" style="width:100%">
      <h3>Dr. Narendra BS</h3>
      <h4>Qualification</h4>
      <p>MBBS, MD - General Medicine, DM - Endocrinology</p>
      <h4>Speciality</h4>
      <p>Endocrinologist, Diabetologist</p>
      <h4>Location</h4>
      <p>Ashoknagar, Bangalore.</p>
      <h4>About the Doctor</h4>
      <p>Timing : 3:00pm - 5:00pm (Monday - Saturday)</p>
      <p>23 Years Experience Overall  (8 years as specialist)</p>
      <p>Dr. Narendra BS is a Consultant Endocrinologist and Diabetologist in Indiranagar, Bangalore and has an experience of 8 years in these fields. </p>
        <br><br><br><br><br><br><br><br><br>
    </div>
  </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br>
</body>
</html>
