<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
*{
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image : url('https://media.istockphoto.com/id/1304967852/photo/heart-disease-diagnosis-and-treatment-concept.jpg?b=1&s=170667a&w=0&k=20&c=Fa6GJ4iwpgDMMLbQuPkRdaumvzxcZmJBUQfMzhmNmrk=');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #DCDCDC;
}

h1{
  text-align: center;
  font-size: 50px;
  color: black;
}

</style>

</head>
<body>
<br><br>
<h1>CARDIOLOGISTS IN BANGALORE</h1>
<p></p>
<br><br><br>

<div class="row">
  <div class="column">
    <div class="card">
      <img src='https://imgs.search.brave.com/3ExLTtBaK_ivnDLn1B26MQozzexf8o091XwK9txPs1U/rs:fit:150:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5N/U3hvUngxU0ptNWdw/X1VqMTUxdEJBQUFB/QSZwaWQ9QXBp' alt="doctor_1" style="width:100%; height:280px;">
      <h3>Dr.George Cherian</h3>
      <h4>Qualification</h4>
      <p>MBBS,MD-Cardiology,DM-Cardiology</p>
      <p>Professor - Cardiology</p>
      <h4>Speciality</h4>
      <p>Cardiology</p>
      <h4>Location</h4>
      <p>Narayana Institute of Cardiac Sciences,Bommasandra,Bangalore.</p>
      <h4>About the Doctor</h4>
      <p>64 Years of Pratice</p>
      <p>Availability : Wednesday (7:30am to 4:30pm)</p>
      <br>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://imgs.search.brave.com/bBxPUA9ZLPbKb-DFml5p63YBOZVcUXzfA2BkScMSmDI/rs:fit:400:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5U/QnZvbXMtd0hLLWFV/VWNuempUamVBQUFB/QSZwaWQ9QXBp" alt="doctor_2" style="width:100%; height:280px;">
      <h3>Dr.KSS Bhat</h3>
      <p>Consultant - Cardiology</p>
      <h4>Qualification</h4>
      <p>MBBS,MD-General Medicine,Fellowship</p>
      <h4>Speciality</h4>
      <p>Cardiology</p>
      <h4>Location</h4>
      <p>Manipal Hospital,HAL Airport Road,Bangalore.</p>
      <h4>About the Doctor</h4>
      <p>53 Years of Practice</p>
      <p>Availability : Wednesday (9:00am to 10:00am)</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://imgs.search.brave.com/K8hsGU1AIBf0Fp8jpd03MeTL-uJkX5-qiJ3_Y--zhg0/rs:fit:200:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC43/SVhhcEt1Wk1PeWU2/aTFFRXd2MXRRQUFB/QSZwaWQ9QXBp" alt="doctor_3" style="width:100%; height:280px;">
      <h3>Dr.Uday B Khanolkar</h3>
      <p>Senior Consultant - Cardiology</p>
      <h4>Qualification</h4>
      <p>MBBS,MD-Cardiology,DM-Cardiology</p>
      <h4>Speciality</h4>
      <p>Cardiology</p>
      <h4>Location</h4>
      <p>Narayana Institute of Cardiac Science,Bommasandra,Bangalore.</p>
      <h4>About the Doctor</h4>
      <p>39 Years of Practice</p>
      <p>Availability : Saturday(10:00am to 2:00pm)</p>
      <br>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://imgs.search.brave.com/nsI0U83ybj39ZUUvljKeCEnZrb-nEQ9f8lwzeTImKUw/rs:fit:150:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5y/UHZ6ZXBrNzNpdUY5/bUExZTktMVVnQUFB/QSZwaWQ9QXBp" alt="doctor_4" style="width:100%; height:280px;">
      <h3>Dr.SS Lyengar</h3>
      <p>Consultant - Cardiology</p>
      <h4>Qualification</h4>
      <p>MBBS,MD-Medicine,Dm-Cardiology</p>
      <h4>Speciality</h4>
      <p>Cardiologist,Cardiac Electrophysiologist</p>
      <h4>Location</h4>
      <p>Manipal Hospital,HAL Airport Road,Bangalore.</p>
      <h4>About the Doctor</h4>
      <p>38 Years of Practie</p>
      <p>Availability : Monday(10:30am to 12:30pm)</p>
    </div>
  </div>
</div>

<br><br><br>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://imgs.search.brave.com/SXc-iMBqnhm-0LKPMxGt2Yk62BUc0kvaGa56tIWprdg/rs:fit:270:225:1/g:ce/aHR0cHM6Ly90c2U0/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5t/SGlMYTRlQkE0VkhY/bjN4alVVcHJRQUFB/QSZwaWQ9QXBp" alt="" style="width:100%; height:280px;">
      <h3>Dr.Padmakumar P</h3>
      <p>Consultant - Peiatric and Adult Interventional Cardiology</p>
      <h4>Qualification</h4>
      <p>MBBS,MD-General Medicine,DM-Cardiology</p>
      <h4>Speciality</h4>
      <p>Cardiologist,Pediatric cardiologist,Cardiac Surgeon</p>
      <h4>Location</h4>
      <p>Manipal Hospital,HAL Airport Road,Bangalore.</p>
      <h4>About the Doctor</h4>
      <p>37 Years of Practice</p>
      <p>Availability : Monday(10:00am to 1:00pm)</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://imgs.search.brave.com/WmAblfKgHjmq0eNcFQlN6PWp6DWriq5t5dqxabHhxjc/rs:fit:200:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5x/b24yR21XT01SQ2No/cUxmYmVtUmV3QUFB/QSZwaWQ9QXBp" alt="" style="width:100%; height:280px;">
      <h3>Dr.Sanjay Mehrotra</h3>
      <p>Senior Consultant - Cardiology</p>
      <h4>Qualification</h4>
      <p>MBBS,MD-Internal Medicine,DM-Cardiology</p>
      <h4>Speciality</h4>
      <p>Cardiologist</p>
      <h4>Location</h4>
      <p>Narayana Multispeciality Hospital,HSR Layout,Bangalore</p>
      <h4>About the Doctor</h4>
      <p>32 Years o Practice</p>
      <p>Availability : Wednesday(12:30pm to 2:30pm)</p>
      <br><br>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://imgs.search.brave.com/EwpZUNHNsmt8Jwd5FnCOyWb_NUz00p4uhsVsVEjNN-0/rs:fit:200:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5f/ZU9zZ1JhNFlSRERj/TXdMM2NNanhnQUFB/QSZwaWQ9QXBp" alt="" style="width:100%; height:280px;">
      <h3>Dr.VS Prakash</h3>
      <p>Vice President and Senior Consultant - Cardiology and Electrophysiology</p>
      <h4>Qualification</h4>
      <p>MBBS,MD-Internal Medicine,Dm-Car</p>
      <h4>Speciality</h4>
      <p>Cardiologist,Cardiac Electrophysiologist</p>
      <h4>Location</h4>
      <p>MS Ramaiah NArayana Heart Center,Bangalore</p>
      <h4>About the Doctor</h4>
      <p>29 Years of Practice</p>
      <p>Availability : Monday(10:00am to 3:00pm)</p>
      <br>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://imgs.search.brave.com/lqKAa-wQdnkKgeQzu40rQznOB4WkzXW_2flDcdxyx8s/rs:fit:380:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5Q/OC1kZlZwNGJrSEJJ/VlItaTlWYkpRQUFB/QSZwaWQ9QXBp" alt="" style="width:100%; height:280px;">
      <h3>Dr.Venkatesh S</h3>
      <p>Senior Consultant - Interventional Cariology</p>
      <h4>Qualification</h4>
      <p>MBBS,MD-Internal Medicine,DM-Cardiology</p>
      <h4>Speciality</h4>
      <p>Cardiologist,Cardiac Surgeon</p>
      <h4>Location</h4>
      <p>Aster RV Hospital,JP Nagar,Bangalore</p>
      <h4>About the Doctor</h4>
      <p>28 Years of Practice</p>
      <p>Avaliability : Saturadya(10:30am to 2:00pm)</p>
      <br><br>
    </div>
  </div>
</div>

<br><br><br><br><br><br><br><br><br><br>

</body>
</html>
